[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-istanbul"]
	path = bundle/vim-istanbul
	url = git://github.com/juanpabloaj/vim-istanbul.git
